*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:18px;
    background-color: white;
}

.navbar .container-fluid {
    padding: 0 100px;
}
.navbarBrand{
    width:60px;
}
.cooking-master{
    color:#3B2D64;
    font-weight: 700;
    font-size:24px;
}

.search{
    margin-top:10%;
}
.btn-search{
    width: 100px;
    background-color:rgb(82, 120, 235);
    color:#FFFFFF;
    margin-left: 10px;
}
.btn-search:hover{
    background-color: royalblue;
    color:#FFFFFF;
}
input{
    width: 350px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid royalblue;
}
#meal-details{
    display: none;
}
